section.tn-about-3
	article
		.container
			.row
				.col-lg-6
					img(src="./img/about/about_2.png", alt="")
				.col-lg-6
					.intro-text
						p Thấu hiểu nhu cầu và mong muốn của khách hàng, Thiên Nương Spa không những tìm kiếm và cập nhật những công nghệ làm đẹp hàng đầu mà còn tuyển dụng và đào tạo đội ngũ nhân viên tâm huyết, nâng cao tay nghề và kiến thức làm đẹp tiên tiến. Nhờ đó đáp ứng hoàn hảo nhu cầu tư vấn của khách hàng, lựa chọn các gói điều trị và chăm sóc phù hợp, có hiệu quả nhất cho khách hàng.
			.row
				.col-lg-6.order-2.order-lg-1
					.intro-text
						p Thấu hiểu nhu cầu và mong muốn của khách hàng, Thiên Nương Spa không những tìm kiếm và cập nhật những công nghệ làm đẹp hàng đầu mà còn tuyển dụng và đào tạo đội ngũ nhân viên tâm huyết, nâng cao tay nghề và kiến thức làm đẹp tiên tiến. Nhờ đó đáp ứng hoàn hảo nhu cầu tư vấn của khách hàng, lựa chọn các gói điều trị và chăm sóc phù hợp, có hiệu quả nhất cho khách hàng.
				.col-lg-6.order-1.order-lg-2
					img(src="./img/about/about_3.png", alt="")