section.tn-home-2
	article.home-about-text
		.container
			.row
				.col.about-wrapper
					h2 Giới thiệu về
					h1 Thiên nương beauty
					p Spa chăm sóc sắc đẹp với công nghệ cao cấp đạt tiêu chuẩn Châu Âu, đem đến trải nghiệm làm đẹp an toàn và hiệu quả cao.
	article.home-about-icon
		.container
			.row
				.col-sm-6.col-lg-3
					.media
						.media-img
							img(src="./img/icon/home_icon_1.png", alt="")
						.media-body
							span Sáng lập bởi Hoa hậu Doanh nhân toàn cầu 2018
				.col-sm-6.col-lg-3
					.media
						.media-img
							img(src="./img/icon/home_icon_2.png", alt="")
						.media-body
							span Sáng lập bởi Hoa hậu Doanh nhân toàn cầu 2018
				.col-sm-6.col-lg-3
					.media
						.media-img
							img(src="./img/icon/home_icon_3.png", alt="")
						.media-body
							span Sáng lập bởi Hoa hậu Doanh nhân toàn cầu 2018
				.col-sm-6.col-lg-3
					.media
						.media-img
							img(src="./img/icon/home_icon_4.png", alt="")
						.media-body
							span Sáng lập bởi Hoa hậu Doanh nhân toàn cầu 2018