section.tn-product-2
	article
		.container
			.row
				.col-sm-6.col-lg-4
					a(href="#")
						figure
							img(src="./img/product/product_1.png", alt="")
							figcaption
								span COLLASHOWER 64 - SIÊU PHẨM CÔNG NGHỆ CỦA TƯƠNG LAI
				.col-sm-6.col-lg-4
					a(href="#")
						figure
							img(src="./img/product/product_1.png", alt="")
							figcaption
								span COLLASHOWER 64 - SIÊU PHẨM CÔNG NGHỆ CỦA TƯƠNG LAI
				.col-sm-6.col-lg-4
					a(href="#")
						figure
							img(src="./img/product/product_1.png", alt="")
							figcaption
								span COLLASHOWER 64 - SIÊU PHẨM CÔNG NGHỆ CỦA TƯƠNG LAI
				.col-sm-6.col-lg-4
					a(href="#")
						figure
							img(src="./img/product/product_1.png", alt="")
							figcaption
								span COLLASHOWER 64 - SIÊU PHẨM CÔNG NGHỆ CỦA TƯƠNG LAI
				.col-sm-6.col-lg-4
					a(href="#")
						figure
							img(src="./img/product/product_1.png", alt="")
							figcaption
								span COLLASHOWER 64 - SIÊU PHẨM CÔNG NGHỆ CỦA TƯƠNG LAI
				
			a(href="#").btn.btn-more Xem thêm
				span.lnr.lnr-arrow-right