section.tn-services-1
	article
		.container
			.row
				.col-12
					h1 Dịch vụ
				.col-md-6.col-lg-4
					figure
						.img-block
							img(src="./img/home/home_dv_1.jpg").img-fluid
						figcaption.figcaption
							h2 Giảm béo với công nghệ Eximia
							p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
							a(href="#").btn Xem chi tiết
				.col-md-6.col-lg-4
					figure
						.img-block
							img(src="./img/home/home_dv_1.jpg").img-fluid
						figcaption.figcaption
							h2 Giảm béo với công nghệ Eximia
							p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
							a(href="#").btn Xem chi tiết
				.col-md-6.col-lg-4
					figure
						.img-block
							img(src="./img/home/home_dv_1.jpg").img-fluid
						figcaption.figcaption
							h2 Giảm béo với công nghệ Eximia
							p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
							a(href="#").btn Xem chi tiết
				.col-md-6.col-lg-4
					figure
						.img-block
							img(src="./img/home/home_dv_1.jpg").img-fluid
						figcaption.figcaption
							h2 Giảm béo với công nghệ Eximia
							p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
							a(href="#").btn Xem chi tiết
							