section.tn-news-details-1
	article
		.container
			.row
				.col-lg-9
					.news-wrapper
						h1 Tắm trắng với công nghệ Dr.muller
						time 08.10.2018
						p.brief Tự tin dạo phố với làn da trắng hồng mịn màng
						.content
							strong Đặc điểm nổi bật:
							p Nghệ cực kỳ tốt cho da, có thể tẩy tế bào chết, hạn chế vết chàm và trị mụn hiệu quả. Nghệ có tác dụng sát khuẩn hiệu quả, do đó có thể giảm và mờ sẹo, đồng thời se khít lỗ chân lông, chống lại những tác hại từ ánh nắng mặt trời và chống nhờ rất tốt cho làn da nữa. Nhiều nghiên cứu đã khẳng định được tác dụng tuyệt vời của nghệ đối với vết thương nhỏ và vết thương do mụn để lại.
							img(src="./img/news/news_1.jpg", alt="")
							strong Giới thiệu dịch vụ:
							p Hầu hết các chị em phụ nữ luôn tìm chọn các hình thức tắm trắng cấp tốc, hiệu quả nhanh nhất với mức giá phải chăng mà quên đi hậu quả về sau da sẽ nhanh bị xỉn màu, ảnh hưởng xấu về sau. Tại Thiên Nương Spa, liệu trình tắm trắng sáng da sẽ được thực hiện nhiều phiên để đạt được hiệu quả cao nhất mà vô cùng an toàn, không gây tróc da hay ảnh hưởng xấu đến sức khỏe.
							p Công nghệ làm trắng da bằng máy Dr.Muller là một trong những công nghệ cao cấp hàng đầu tại nước Đức với hơn 40 năm kinh nghiệm trong ngành công nghiệp làm đẹp và đã gặt hái nhiều thành công tại hơn 50 thị trường quốc tế. Kết hợp với kem ủ thảo dược Nhật Bản có các chất vitamin E, B3 nuôi dưỡng da, giúp da không chỉ trắng hồng nổi bật mà còn mềm mịn tự nhiên. Phương pháp tắm trắng an toàn tại Thiên Nương Spa đảm bảo giúp phái đẹp luôn tự tin xuống phố với làn da sáng hồng rạng rỡ.
					.news-footer
						.social-networks.nav
							.nav-item
								.fb-like(data-href='', data-layout='button', data-action='like', data-size='small', data-show-faces='false', data-share='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter')
							.nav-item
								.g-plus(data-action='share')
						.booking-button
							a(href="#").btn.btn-more Đặt lịch hẹn
				.col-lg-3
					.news-others-wrapper
						h2 tin tức khác
						.news-others-list
							figure
								.news-img.col-6.col-sm-4.col-lg-6
									img(src="./img/news/news_2.jpg")
								figcaption.col-6.col-sm-8.col-lg-6
									h3 Giảm mỡ bụng cho dân văn phòng 
									time 07/11/2017
							figure
								.news-img.col-6.col-sm-4.col-lg-6
									img(src="./img/news/news_2.jpg")
								figcaption.col-6.col-sm-8.col-lg-6
									h3 Giảm mỡ bụng cho dân văn phòng 
									time 07/11/2017
							figure
								.news-img.col-6.col-sm-4.col-lg-6
									img(src="./img/news/news_2.jpg")
								figcaption.col-6.col-sm-8.col-lg-6
									h3 Giảm mỡ bụng cho dân văn phòng 
									time 07/11/2017