section.tn-product-details-2
	article.nav-attributes
		.container
			.row
				.col
					ul.nav(data-tabs)
						li.nav-item
							a(data-tab href="#tab-1") Khám phá sản phẩm THE INFINITY
						li.nav-item
							a(data-tab href="#tab-2") Khám phá liệu trình

section.tn-product-details-3
	article.content-attributes
		.container
			.row
				.col(data-tabs-content)
					.fullcontent.tabs-pane(data-tabs-pane)#tab-1
						p 	• Infinity Collagenic là một thiết bị nhỏ gọn và dễ sử dụng bao gồm các tính năng tuyệt vời. Thiết bị là sự kết hoàn hảo giữa tính năng và công dụng.
							br
							| • Với bộ phận làm mát BodyCooler được gắn bên trong bạn có thể tận hưởng không gian mát mẻ giúp tăng sinh lượng collagen của cơ thể  trong quá trình điều trị. 
							br
							| • Infinity mang đến giá trị vượt bậc trong một thiết bị. Bộ điều khiển cảm ứng thông minh (IQ Touch Control) cho phép bạn điều khiển được tất cả cả các tính năng một cách dễ dàng. 
							br
							| • Với chế độ Rainbow Manager bạn có thể chỉnh được ánh sáng trong và ngoài, hoặc điều chỉnh màu sắc để phù hợp với tâm trạng và phong cách của phòng điều trị. 
							br
							| SẢN PHẨM DÀNH CHO SPA &amp; BEAUTY CLINIC
							br
							| "CÔNG DỤNG CỦA ÁNH SÁNG COLLAGEN"
						a(href="#").btn.btn-more Đăng ký ngay
							span.lnr.lnr-arrow-right
					.fullcontent.tabs-pane(data-tabs-pane)#tab-2
						p 	• Infinity Collagenic là một thiết bị nhỏ gọn và dễ sử dụng bao gồm các tính năng tuyệt vời. Thiết bị là sự kết hoàn hảo giữa tính năng và công dụng. 2
							br
							| • Với bộ phận làm mát BodyCooler được gắn bên trong bạn có thể tận hưởng không gian mát mẻ giúp tăng sinh lượng collagen của cơ thể  trong quá trình điều trị. 
							br
							| • Infinity mang đến giá trị vượt bậc trong một thiết bị. Bộ điều khiển cảm ứng thông minh (IQ Touch Control) cho phép bạn điều khiển được tất cả cả các tính năng một cách dễ dàng. 
							br
							| • Với chế độ Rainbow Manager bạn có thể chỉnh được ánh sáng trong và ngoài, hoặc điều chỉnh màu sắc để phù hợp với tâm trạng và phong cách của phòng điều trị. 
							br
							| SẢN PHẨM DÀNH CHO SPA &amp; BEAUTY CLINIC
							br
							| "CÔNG DỤNG CỦA ÁNH SÁNG COLLAGEN"
						a(href="#").btn.btn-more Đăng ký ngay
							span.lnr.lnr-arrow-right