section.tn-about-2
	article
		.container
			.row
				.col-lg-6
					.intro-text
						h1 Giới thiệu chung
						h2 Thiên Nương Beauty
						p Thiên Nương Spa được thành lập bởi Hoa hậu Doanh nhân Việt toàn cầu 2018 - Lý Thiên Nương với mong muốn được chia sẻ những kinh nghiệm làm đẹp và mang những giải pháp, liệu trình chăm sóc sắc đẹp hàng đầu châu  Âu đến với chị em phụ nữ Việt. Là một Hoa hậu Doanh nhân, Lý Thiên Nương luôn đặt khách hàng lên hàng đầu với những tiêu chí kinh doanh cho dịch vụ spa công nghệ cao là sự an toàn tuyệt đối và có hiệu quả cho khách hàng.
				.col-lg-6
					img(src="./img/about/about_1.png", alt="")