section.tn-product-details-1
	article
		.container
			.row
				.col-lg-6
					.thumbnail-list
						.small-thumbnail
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")

						.big-thumbnail
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
							.item
								img(src="./img/product/product_1.png", alt="")
				.col-lg-6
					.product-details
						h2 INFINITY - SANG TRỌNG VÀ KHÁC BIỆT HƠN
						span (Giá bán: Liên hệ)
						p 
							b Mô tả ngắn: 
							| Infinity Collagenic là một sản phẩm đến từ Đức, được tạo ra nhằm cải thiện làn da, mang lại hiệu quả vượt trội so với nhiều sản phẩm trên thị trường. Thiết bị được thiết kế phù hợp dành riêng các trung tâm spa và làm đẹp. Đây chính là sự lựa chọn tuyệt vời cho những chuyên gia chăm sóc sắc đẹp.
				