section.tn-support-3
	article
		.container
			.row
				.col
					.list-faq
						.faq-item
							.content
								.question
									span.number 01
									h2 Làm thế nào để biết được các chương trình và thông tin khuyến mãi?
								.answer
									p Để biết thêm về chương trình khuyến mãi, Quý khách có thể cập nhật theo những cách sau:
										br
										| - Đăng ký nhận bản tin: Chỉ cần tạo tài Khoản hoặc Đăng ký nhận bản tin khuyến mãi, Thien Nuong Beauty sẽ gửi cho Quý khách những thông tin về các chương trình sắp diễn ra cũng như những chương trình khuyến mãi đang có bằng Thư Điện Tử. Nội dung thư sẽ bao gồm cả thời gian bắt đầu và thời gian kết thúc để Quý khách không bỏ lỡ bất kỳ cơ hội mua sắm hấp dẫn nào.
										br
										| - Xem thông tin trực tiếp tại website hoặc ứng dụng điện thoại: Thông tin khuyến mãi sẽ được cập nhật liên tục và đều đặn trực tiếp ngay tại website và ứng dụng điện thoại để Quý khách thuận tiện theo dõi.
						.faq-item
							.content
								.question
									span.number 01
									h2 Làm thế nào để biết được các chương trình và thông tin khuyến mãi?
								.answer
									p Để biết thêm về chương trình khuyến mãi, Quý khách có thể cập nhật theo những cách sau:
										br
										| - Đăng ký nhận bản tin: Chỉ cần tạo tài Khoản hoặc Đăng ký nhận bản tin khuyến mãi, Thien Nuong Beauty sẽ gửi cho Quý khách những thông tin về các chương trình sắp diễn ra cũng như những chương trình khuyến mãi đang có bằng Thư Điện Tử. Nội dung thư sẽ bao gồm cả thời gian bắt đầu và thời gian kết thúc để Quý khách không bỏ lỡ bất kỳ cơ hội mua sắm hấp dẫn nào.
										br
										| - Xem thông tin trực tiếp tại website hoặc ứng dụng điện thoại: Thông tin khuyến mãi sẽ được cập nhật liên tục và đều đặn trực tiếp ngay tại website và ứng dụng điện thoại để Quý khách thuận tiện theo dõi.

			a(href="#").btn.btn-more Xem thêm
				span.lnr.lnr-arrow-down