section.canhcam-form-1
	article
		.container
			h1 liên hệ
			.row
				.wrapthongtin.col-lg-4
					img(src="./img/logo/contact_logo.png", alt="")
					h2 23 Võ Văn Tần, P.5, Q.3, Tp. HCM
					h3 (028) 3832 7455 
					h4 info@thienhuongbeauty.com
				.col-lg-8.wrap-form
					.wrap-contact
						#ctl00_mainContent_ctl04_pnlSend
							.form-group.ct-name
								input.form-control(type='text', placeholder='Họ tên')
							.form-group.ct-email
								input.form-control(type='text',placeholder='Email')
							.form-group.ct-phone
								input.form-control(type='text', placeholder='Điện thoại')
							.form-group.ct-subject
								input.form-control(type='text', placeholder='Tiêu đề')
							.form-group.ct-message
								textarea.form-control(placeholder='Nội dung')
							.form-group.ct-button
								.frm-btnwrap
									.frm-btn
										input.ct-button.btn.btn-default(type='submit', value='Gửi')
