<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="TN-BaiVietTinTuc.xslt" name="Tin tức Thiên Nương"></templatelist>
  <templatelist xsltname="TN-BaiVietSanPham.xslt" name="Danh sách sản phẩm"></templatelist>
  <templatelist xsltname="TN-BaiVietDichVu.xslt" name="Danh sách dịch vụ"></templatelist>
  <templatelist xsltname="TN-FAQ.xslt" name="Danh sách câu hỏi"></templatelist>
  <templatelist xsltname="TN-CamNhanKhachHang.xslt" name="Danh sách cảm nhận"></templatelist>



  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="TN-BaiVietChiTiet.xslt" name="Thiên nương chi tiết tin"></templatedetail>
  <templatedetail xsltname="TN-SanPhamChiTiet.xslt" name="Thiên nương chi tiết sản phẩm"></templatedetail>

  <position>
    <!--<add name="Trang chủ" value="1" resourcefile="" />-->
  </position>
</templates>