section.tn-home-6
	article
		.container
			.row
				.col-12
					h2 Tin tức - Sự kiện
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_news_1.jpg", alt="alt")
							figcaption
								h4 ƯU ĐÃI NGẬP TRÀN CHO NGÀY PHỤ NỮ VIỆT NAM 20.10
								p.desc Chào mừng ngày phụ nữ Việt Nam 20/10, Thiên Nương Beauty dành tặng Quý Khách Hàng chương trình khuyến mãi lớn cho tất cả các dịch vụ.
								p.time
									time 31/07/2018
									| Xem chi tiết
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_news_1.jpg", alt="alt")
							figcaption
								h4 ƯU ĐÃI NGẬP TRÀN CHO NGÀY PHỤ NỮ VIỆT NAM 20.10
								p.desc Chào mừng ngày phụ nữ Việt Nam 20/10, Thiên Nương Beauty dành tặng Quý Khách Hàng chương trình khuyến mãi lớn cho tất cả các dịch vụ.
								p.time
									time 31/07/2018
									| Xem chi tiết
				.col-md-6.col-lg-4
					a(href="#").item
						figure
							.boxzoom
								img(src="./img/home/home_news_1.jpg", alt="alt")
							figcaption
								h4 ƯU ĐÃI NGẬP TRÀN CHO NGÀY PHỤ NỮ VIỆT NAM 20.10
								p.desc Chào mừng ngày phụ nữ Việt Nam 20/10, Thiên Nương Beauty dành tặng Quý Khách Hàng chương trình khuyến mãi lớn cho tất cả các dịch vụ.
								p.time
									time 31/07/2018
									| Xem chi tiết
				.col-12
					.btn-wrapper
						a(href="#").btn.btn-more Xem thêm
							span.lnr.lnr-arrow-right