section.tn-home-8(bg-img='./img/bg/home_bg_3.jpg')
	article
		.container
			.row
				.col-md-7
					h2 BẠN LÀ KHÁCH HÀNG MỚI?
					p Đăng ký email để cập nhật thông tin khuyến mãi mới từ Thiên Nương Beauty
				.col-md-5
					.subscribefrm
						input(type="text", name="", placeholder="Nhập email của bạn").subscribeemail
						button.subscribebutton