section.tn-home-5(bg-img='./img/bg/home_bg_2.jpg')
	article
		.container
			.row
				.col
					.home-feedback-slider
						.item
							figure.figure
								.img-block(bg-img='./img/home/home_feedback.jpg')
								figcaption.figcaption
									p Công việc bận rộn khiến da tôi xấu và sạm hẳn. Nhờ sử dụng dịch vụ tại Thiên Nương Beauty, làn da của tôi đã cải thiện nhiều, trắng mịn và tươi sáng hơn. Bây giờ tôi có thể tự tin giao tiếp hơn với đồng nghiệp và khách hàng.
									h2 đỗ hoàng mỹ linh  -  22T
						.item
							figure.figure
								.img-block(bg-img='./img/home/home_feedback.jpg')
								figcaption.figcaption
									p Công việc bận rộn khiến da tôi xấu và sạm hẳn. Nhờ sử dụng dịch vụ tại Thiên Nương Beauty, làn da của tôi đã cải thiện nhiều, trắng mịn và tươi sáng hơn. Bây giờ tôi có thể tự tin giao tiếp hơn với đồng nghiệp và khách hàng.
									h2 đỗ hoàng mỹ linh  -  22T
						.item
							figure.figure
								.img-block(bg-img='./img/home/home_feedback.jpg')
								figcaption.figcaption
									p Công việc bận rộn khiến da tôi xấu và sạm hẳn. Nhờ sử dụng dịch vụ tại Thiên Nương Beauty, làn da của tôi đã cải thiện nhiều, trắng mịn và tươi sáng hơn. Bây giờ tôi có thể tự tin giao tiếp hơn với đồng nghiệp và khách hàng.
									h2 đỗ hoàng mỹ linh  -  22T