footer.canhcam-footer-1
	.container
		.row.justify-content-center
			.logo-footer
				img(src="./img/logo/logo.png", alt="")
		.row
			.menu-footer
				ul.nav
					li.nav-item
						a(href="#").nav-link giới thiệu
					li.nav-item
						a(href="#").nav-link Sản phẩm - dịch vụ
					li.nav-item
						a(href="#").nav-link Thành viên
					li.nav-item
						a(href="#").nav-link tin tức
					li.nav-item
						a(href="#").nav-link đặt lịch hẹn
					li.nav-item
						a(href="#").nav-link hỗ trợ khách hàng
					li.nav-item
						a(href="#").nav-link liên hệ
		.row
			.social-list
				ul.nav
					li.nav-item
						a(href="#").nav-link.mdi.mdi-facebook
					li.nav-item
						a(href="#").nav-link.mdi.mdi-youtube
					li.nav-item
						a(href="#").nav-link.mdi.mdi-google-plus
		.row
			.contact-wrap
				ul.nav
					li.nav-item
						a(href="#").nav-link 123 Võ Văn Tần, P.5, Q.3, Tp. HCM 
					li.nav-item
						a(href="#").nav-link 
							strong ĐT: 
							| (028) 3832 7455
					li.nav-item
						a(href="#").nav-link
							strong E: 
							| info@thienhuongbeauty.com
			p Copyright © 2018 thiên nương Beauty. Tất cả các quyền đều được bảo hộ. Thiết kế website bởi Cánh Cam