section.tn-member-2
	article
		.tabs-content(data-tabs-content)
			#member-1.tabs-pane.active(data-tabs-pane)
				.container
					.row
						.col-lg-5.left
							h2 thành viên tháng 3
							p Tích lũy từ 60.000.000 vnđ trong vòng 3 tháng liên tiếp hoặc mua sắm 1 lần 30.000.000 vnđ trở lên
							img(src="./img/member/member_2.jpg", alt="").img-fluid
						.col-lg-7.right
							h2 Ưu đãi
							ul
								li Giảm 10% cho lần mua tiếp theo
								li Sinh nhật: Giảm 15% hàng nguyên giá
								li Giảm 10% hàng nguyên giá tại các nhãn hiệu khác
							h3 Điều kiện áp dụng
							ul
								li Để hưởng đầy đủ ưu đãi, khách hàng vui lòng xuất trình thẻ trước khi thanh toán
								li Thẻ không có giá trị chuyển nhượng, cho, tặng hoặc thanh toán
								li Thẻ không áp dụng chung trong các chương trình khuyến mại khác hoặc hàng giảm giá, khuyến mãi
								li Thẻ được tích lũy doanh số mua hàng để làm cơ sở để ưu tiên các ưu 
								li Các ưu đãi và điều kiện sử dụng thẻ quy định thẻ áp dụng theo chương trình VIP tại cửa hàng khi mua hàng
								li Khi mất thẻ, vui lòng báo ngay cho Bộ phận Dịch vụ khách hàng
			#member-2.tabs-pane.active(data-tabs-pane)
				.container
					.row
						.col-lg-5.left
							h2 thành viên tháng 6
							p Tích lũy từ 60.000.000 vnđ trong vòng 3 tháng liên tiếp hoặc mua sắm 1 lần 30.000.000 vnđ trở lên
							img(src="./img/member/member_2.jpg", alt="").img-fluid
						.col-lg-7.right
							h2 Ưu đãi
							ul
								li Giảm 10% cho lần mua tiếp theo
								li Sinh nhật: Giảm 15% hàng nguyên giá
								li Giảm 10% hàng nguyên giá tại các nhãn hiệu khác
							h3 Điều kiện áp dụng
							ul
								li Để hưởng đầy đủ ưu đãi, khách hàng vui lòng xuất trình thẻ trước khi thanh toán
								li Thẻ không có giá trị chuyển nhượng, cho, tặng hoặc thanh toán
								li Thẻ không áp dụng chung trong các chương trình khuyến mại khác hoặc hàng giảm giá, khuyến mãi
								li Thẻ được tích lũy doanh số mua hàng để làm cơ sở để ưu tiên các ưu 
								li Các ưu đãi và điều kiện sử dụng thẻ quy định thẻ áp dụng theo chương trình VIP tại cửa hàng khi mua hàng
								li Khi mất thẻ, vui lòng báo ngay cho Bộ phận Dịch vụ khách hàng
			#member-3.tabs-pane.active(data-tabs-pane)
				.container
					.row
						.col-lg-5.left
							h2 thành viên tháng 9
							p Tích lũy từ 60.000.000 vnđ trong vòng 3 tháng liên tiếp hoặc mua sắm 1 lần 30.000.000 vnđ trở lên
							img(src="./img/member/member_2.jpg", alt="").img-fluid
						.col-lg-7.right
							h2 Ưu đãi
							ul
								li Giảm 10% cho lần mua tiếp theo
								li Sinh nhật: Giảm 15% hàng nguyên giá
								li Giảm 10% hàng nguyên giá tại các nhãn hiệu khác
							h3 Điều kiện áp dụng
							ul
								li Để hưởng đầy đủ ưu đãi, khách hàng vui lòng xuất trình thẻ trước khi thanh toán
								li Thẻ không có giá trị chuyển nhượng, cho, tặng hoặc thanh toán
								li Thẻ không áp dụng chung trong các chương trình khuyến mại khác hoặc hàng giảm giá, khuyến mãi
								li Thẻ được tích lũy doanh số mua hàng để làm cơ sở để ưu tiên các ưu 
								li Các ưu đãi và điều kiện sử dụng thẻ quy định thẻ áp dụng theo chương trình VIP tại cửa hàng khi mua hàng
								li Khi mất thẻ, vui lòng báo ngay cho Bộ phận Dịch vụ khách hàng



