section.tn-support-1
	article
		.container
			.row
				.col
					h1 hỗ trợ khách hàng
					ul.nav
						li.nav-item
							a(href="#").nav-link Hỏi đáp
						li.nav-item
							a(href="#").nav-link Cảm nhận khách hàng