section.tn-home-7
	article
		.container-fluid
			.row
				.col-md-6
					a(href="#").item
						img(src="./img/home/home_member.jpg", alt="")
				.col-md-6
					a(href="#").item
						img(src="./img/home/home_member.jpg", alt="")