section.tn-member-1
	article
		.container
			h1 thành viên
			.row
				.col
					ul.nav.data-tabs(data-tabs)
						li.nav-item.active
							a(href="#member-1", data-tab).tab-member
								img(src="./img/member/member_1.png", alt="")
								h2 thẻ thành viên 3 tháng
						li.nav-item
							a(href="#member-2", data-tab).tab-member
								img(src="./img/member/member_1.png", alt="")
								h2 thẻ thành viên 3 tháng
						li.nav-item
							a(href="#member-3", data-tab).tab-member
								img(src="./img/member/member_1.png", alt="")
								h2 thẻ thành viên 3 tháng