section.tn-about-4
	article
		.container
			.row
				h2 Vì sao bạn nên chọn Thiên Nương Spa
				p Dịch vụ tại Thiên Nương Spa là những giá trị tinh hoa nhất mà chúng tôi muốn mang tới khách hàng.
			.row
				.col-lg-6.item
					figure
						img(src="./img/icon/home_icon_2.png", alt="")
						figcaption
							h3 Áp dụng công nghệ chăm sóc hàng đầu châu Âu
							p Các dịch vụ chăm sóc da và cơ thể tại Thiên Nương Spa được ứng dụng những thiết bị công nghệ cao và hiện đại, phân phối độc quyền bởi Dr.Muller từ Đức và Eximia từ Ý. Chúng tôi luôn đảm bảo thiết bị duy trì hoạt động tốt và vệ sinh an toàn cho khách hàng.
				.col-lg-6.item
					figure
						img(src="./img/icon/home_icon_1.png", alt="")
						figcaption
							h3 Áp dụng công nghệ chăm sóc hàng đầu châu Âu
							p Không chỉ dựa vào công nghệ cao cấp hiện đại, Thiên Nương Spa rất chú trọng việc đào tạo nhân viên trị liệu. Do đó, khách hàng có thể tin tưởng đội ngũ chúng tôi là những người không ngừng học hỏi và cập nhật kiến thức làm đẹp mới nhất từ những CEO của Dr.Muller và Eximia.
				.col-lg-6.item
					figure
						img(src="./img/icon/home_icon_4.png", alt="")
						figcaption
							h3 Áp dụng công nghệ chăm sóc hàng đầu châu Âu
							p Nhằm hạn chế lựa chọn liệu trình không đúng hoặc không phù hợp với khách hàng, Thiên Nương Spa luôn đào tạo nhân viên tốt nhất để đưa ra những tư vấn chính xác, tối ưu hóa hiệu quả của liệu trình. Nhờ đó rút ngắn thời gian làm đẹp, mang hiệu quả đột phá tới khách hàng. 
				.col-lg-6.item
					figure
						img(src="./img/icon/home_icon_3.png", alt="")
						figcaption
							h3 Áp dụng công nghệ chăm sóc hàng đầu châu Âu
							p Các sản phẩm chăm sóc được Thiên Nương Spa sử dụng cho khách hàng đều được lựa chọn từ những thương hiệu đến từ châu  u và Nhật Bản. Với thành phần chiết xuất từ thiên nhiên, chúng tôi cung cấp liệu trình chăm sóc an toàn, hiệu quả mà hoàn toàn không sử dụng biện pháp xâm lấn tác hại đến da.

