section.tn-product-1
	article
		.container
			.row
				.col
					h1 Sản phẩm
					ul.nav
						li.nav-item
							a(href="#").nav-link Công nghệ Dr. Muller 
						li.nav-item
							a(href="#").nav-link Công nghệ Eximia