section.tn-home-4
	article
		.container
			.row
				.col-lg-5.order-2.order-sm-1
					.left-img.row
						.col-6.col-lg-12.px-lg-0
							img(src="./img/home/home_center_1.jpg", alt="")
						.col-6.col-lg-12.px-lg-0
							img(src="./img/home/home_center_2.jpg", alt="")
				.col-lg-7.order-1.order-sm-2
					figure.figure
						img(src="./img/home/home_center_3.jpg", alt="")
						figcaption.figcaption
							h2 Trung tâm đào tạo và chuyển giao công nghệ
							p Khởi nghiệp thành công cùng những khóa học đào tạo chuyên nghiệp, ứng dụng những công nghệ hàng đầu Châu  Âu chỉ có tại Thiên Nương Beauty.
					a(href="#").btn.btn-more Xem thêm
						span.lnr.lnr-arrow-right