section.tn-support-4
	article
		.container
			.row
				.col
					.form-container
						h2 đặt câu hỏi
						.wrap-form
							.form-group.col-md-6
								label Họ &amp; Tên
								input(type="text") 
							.form-group.col-md-6
								label Email
								input(type="text") 
							.form-group.col-md-6
								label Họ &amp; Tên
								input(type="text") 
							.form-group.col-md-6
								label Email
								input(type="text") 
							.form-group.col-12
								label Nội dung
								textarea
							.frm-btnwrap.col-12
								.frm-btn
									input(type="submit", value="Gửi")