section.tn-home-3(bg-img="./img/bg/home_bg_1.png")
	article
		.container
			.row
				.col-12
					h1 Dịch vụ nổi bật
				.col-12
					.service-wrapper
						.service-slider
							.item
								figure
									.img-block
										img(src="./img/home/home_dv_1.jpg").img-fluid
									figcaption.figcaption
										h2 Giảm béo với công nghệ Eximia
										p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
										a(href="#").btn Xem chi tiết
							.item
								figure
									.img-block
										img(src="./img/home/home_dv_1.jpg").img-fluid
									figcaption.figcaption
										h2 Giảm béo với công nghệ Eximia
										p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
										a(href="#").btn Xem chi tiết
							.item
								figure
									.img-block
										img(src="./img/home/home_dv_1.jpg").img-fluid
									figcaption.figcaption
										h2 Giảm béo với công nghệ Eximia
										p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
										a(href="#").btn Xem chi tiết
							.item
								figure
									.img-block
										img(src="./img/home/home_dv_1.jpg").img-fluid
									figcaption.figcaption
										h2 Giảm béo với công nghệ Eximia
										p Da dần lão hóa theo thời gian và do môi trường sống ảnh hưởng là điều mà chị em phụ nữ khó tránh được. Để bảo vệ làn da ngăn ngừa lão hóa, hãy khám phá ngay công nghệ tái tạo làn da tươi trẻ rạng ngời.
										a(href="#").btn Xem chi tiết
						.slider-nav
							button.prev
								span.lnr.lnr-chevron-left
							button.next
								span.lnr.lnr-chevron-right
				.col-12
					a(href="#").btn.btn-more Xem thêm
						span.lnr.lnr-arrow-right